<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
</head>
<body>
    <!-- Head -->
    <h1>WELCOME TO SECRET KEBAB</h1>

    <!-- Image Part -->
    <img src="{{ url_for('static', filename='images/SecretKebab.jpg') }}"
         alt="Secret Kebab Image"
         style="max-width: 100%; height: auto; margin: auto; display: block;">

    <!-- Login Part-->
    <div style="display: flex; justify-content: center; align-items: center; height: 1vh; flex-direction: column; margin-top: -90px;">
        <h2>Login</h2>
        <form action="/login" method="POST" style="text-align: center;">
            <label for="username">Username:</label>
            <br>
            <input type="text" id="username" name="username" required>
            <br><br>
            <label for="password">Password:</label>
            <br>
            <input type="password" id="password" name="password" required>
            <br><br>
            <button type="submit">Login</button>
        </form>

        <!-- Sign Up Link -->
        <p style="margin-top: 20px;">Don't have an account?
            <a href="/signup" style="color: blue; text-decoration: underline;">Sign Up</a>
        </p>
    </div>
</body>
</html>
